global:
  edpName: '{{ env "NAMESPACE" }}'
  imageRegistry: '{{ env "imageRegistry" }}'
  storageClass: {{ requiredEnv "platformStorageClass" }}

operator:
  image:
    name: 'epamedp/gerrit-operator'
    version: '2.9.0-SNAPSHOT.20'

cloud:
  provider: {{ requiredEnv "cloudProvider" }}