name: gerrit-operator
operator:
  image:
    name: control-plane/gerrit-operator
    version: 2.13.7
  serviceAccountName: gerrit-operator
  groupMemberSyncInterval: 5m

gerrit:
  name: gerrit
  image:
    name: openfrontier/gerrit
    version: 3.3.2
  storage:
    size: 5Gi
  sshPort: 31000
  port: 8080
  serviceAccountName: gerrit

keycloakIntegration:
  enabled: true
  client:
    name: gerrit
    public: false
    secretName: gerrit-is-credentials
  realm: admin

global:
  platform: openshift
  gerrit:
    administrators: []
    readers: []

edpComponent:
  description: "Програмний інструмент, що дозволяє керувати версіями компонентів та конфігурацій. Тісно інтегрований з розподіленою системою контролю версій Git та з допомогою цього інструменту адміністратори Платформи мають можливість переглядати всі модифікації коду та конфігурацій за допомогою веб-браузера і затверджувати або відхиляти ці зміни."
  displayName: "Сервіс інспекції та зберігання змін конфігурації (Gerrit)"
  operationalZone: "platform-administration-zone"

